@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(180deg, #be3455, #ca7387);
}

#container svg#mySVG {
  height: 100%;
}

#container svg#mySVG #circle {
  transform: scale(75%);
  transform-origin: 50% 50%;
  fill: none;
  stroke: #34bf49;
  stroke-width: 3px;
}

#container svg#mySVG .letters {
  fill: none;
  stroke: #34bf49;
  stroke-miterlimit: 10;
  stroke-width: 3px;
  transform: scale(50%);
  transform-origin: 50% 50%;
  stroke-linejoin: round;
}

#container svg#spirograph {
  height: 100%;
}

#container svg#spirograph .cls-1 {
  fill: #f9ed32;
}

#container svg#spirograph .cls-1, #container svg#spirograph .cls-2, #container svg#spirograph .cls-3, #container svg#spirograph .cls-4, #container svg#spirograph .cls-5, #container svg#spirograph .cls-6, #container svg#spirograph .cls-7, #container svg#spirograph .cls-8, #container svg#spirograph .cls-9, #container svg#spirograph .cls-10, #container svg#spirograph .cls-11, #container svg#spirograph .cls-12, #container svg#spirograph .cls-13, #container svg#spirograph .cls-14, #container svg#spirograph .cls-15, #container svg#spirograph .cls-16, #container svg#spirograph .cls-17, #container svg#spirograph .cls-18, #container svg#spirograph .cls-19, #container svg#spirograph .cls-20, #container svg#spirograph .cls-21, #container svg#spirograph .cls-22 {
  mix-blend-mode: multiply;
  opacity: .25;
}

#container svg#spirograph .cls-2 {
  fill: #fbb040;
}

#container svg#spirograph .cls-3 {
  fill: #ef4136;
}

#container svg#spirograph .cls-4 {
  fill: #ee2a7b;
}

#container svg#spirograph .cls-5 {
  fill: #f15a29;
}

#container svg#spirograph .cls-6 {
  fill: #f7941d;
}

#container svg#spirograph .cls-7 {
  fill: #8dc63f;
}

#container svg#spirograph .cls-8 {
  fill: #92278f;
}

#container svg#spirograph .cls-9 {
  fill: #9e1f63;
}

#container svg#spirograph .cls-10 {
  fill: #662d91;
}

#container svg#spirograph .cls-11 {
  fill: #be1e2d;
}

#container svg#spirograph .cls-12 {
  fill: #00a79d;
}

#container svg#spirograph .cls-13 {
  fill: #009444;
}

#container svg#spirograph .cls-14 {
  fill: #006838;
}

#container svg#spirograph .cls-15 {
  fill: #39b54a;
}

#container svg#spirograph .cls-16 {
  fill: #2b3990;
}

#container svg#spirograph .cls-17 {
  fill: #27aae1;
}

#container svg#spirograph .cls-18 {
  fill: #2bb673;
}

#container svg#spirograph .cls-19 {
  fill: #1c75bc;
}

#container svg#spirograph .cls-20 {
  fill: #262262;
}

#container svg#spirograph .cls-21 {
  fill: #d7df23;
}

#container svg#spirograph .cls-22 {
  fill: #da1c5c;
}

#container svg#spirograph .cls-23 {
  isolation: isolate;
}
